.form {
  position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border: 1px solid #c7c5c5;
	padding: 40px 60px;
	align-items: flex-start;
	.mat-form-field {
		width: 47%;
		// min-width: 250px;
		margin: 0 1.5%;
		&:last-child {
			margin-right: auto;
		}
	}
	&__bottom {
		width: 100%;
		margin-top: 25px;
	}
	@media screen and (min-width: 1400px) {
		.mat-form-field {
			width: 32%;
		}
	}
	@media screen and (max-width: 767px) {
		padding: 40px 30px;
		.mat-form-field {
			width: 100%;
		}
	}
}