<div class="box">
  <h2 class="title">Crear materia</h2>
  <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field>
      <input matInput placeholder="Nombre" type="text" formControlName="name" id="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Creditos" type="number" formControlName="credits" id="credits">
    </mat-form-field>
    <div class="toggleState">
      <mat-slide-toggle formControlName="dependency" id="dependency">Prerequisitos ?</mat-slide-toggle>
    </div>
    <div class="form__bottom">
      <div class="button-row">
        <button type="submit" mat-raised-button color="primary">Crear materia</button>
        <a [routerLink]="['/subjects']" mat-raised-button color="accent">
          Cancelar
        </a>
      </div>
    </div>
  </form>
</div>