.form {
  position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border: 1px solid #c7c5c5;
	padding: 40px;
	align-items: flex-start;
	.mat-form-field {
		width: 48.5%;
		min-width: 250px;
		&:last-child {
			margin-right: auto;
		}
	}
	&__bottom {
		width: 100%;
	}
}