/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
	margin: 0px;
	font-size: 15px;
}

h2.title {
  color: #673ab7;
}

input {
  color: #555358;
}

.box {
  position: relative;
  margin-top: 40px;
	&__nav {
		position: fixed;
		left: 0;
		right: 0;
		padding: 6px 4%;
		background: #e1e2e4;
		top: 64px;
		z-index: 2;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		i {
			padding: 8px 10px;
			font-size: 1.8em;
			color: #484747;
			margin: 0 0 0 5px;
			&:hover {
				color: #2974ff;
				cursor: pointer;
			}
		}
	}
}

.container {
  padding: 50px 3%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat {
  &-drawer {
    width: 150px;
  }
  &-form-field {
    width: 100%;
  }
}

.tableContainer {
  overflow: auto;
  .mat-table {
    width: 100%;
    > .mat-header-row, > .mat-row {
      cursor: pointer;
      display: flex;
      padding: 0;
      border: none;
      &.active {
        background: #673ab7 !important;
        .mat-header-cell, .mat-cell {
          background: #673ab7 !important;
          color: white !important;
        }
      }
      &:hover {
        background: #efefef;
        .mat-header-cell, .mat-cell {
          background: #efefef;
        }
      }
      > .mat-header-cell, > .mat-cell {
        display: flex;
        justify-content: center;
        height: 48px;
        text-align: center;
        font-size: .8em;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        &:hover {
          background: #efefef;
        }
      }
    }

  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &-sidenav-container {
    flex: 1;
  }
  &-is-mobile {
    .wrapper-toolbar {
      position: fixed;
      z-index: 2;
    }
    .wrapper-sidenav-container {
      flex: 1 0 auto;
    }
  }
  &-app-name {
    margin-left: 8px;
  }
}